<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>text</key>
	<string>cocos2dx</string>
	<key>bool</key>
	<false/>
	<key>dict</key>
	<dict>
		<key>array_in_dict</key>
		<array>
			<integer>123</integer>
			<real>3.14</real>
		</array>
	</dict>
</dict>
</plist>
