<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>recipe</key>
		<integer>0</integer>
		<key>name</key>
		<string>レシピ 3 〜 16 チュートリアル</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>15</integer>
		<key>name</key>
		<string>アニメーションのタイミングで処理を実行する</string>
		<key>step</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>19</integer>
		<key>name</key>
		<string>デバッグ情報に残りメモリ量を表示する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>21</integer>
		<key>name</key>
		<string>配列を使用する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>22</integer>
		<key>name</key>
		<string>辞書を使用する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>24</integer>
		<key>name</key>
		<string>デバッグ用にログを表示する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>25</integer>
		<key>name</key>
		<string>大きな画像を表示する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>26</integer>
		<key>name</key>
		<string>画像にマスク処理をする</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>28</integer>
		<key>name</key>
		<string>カードめくるアクションを実装する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>30</integer>
		<key>name</key>
		<string>CCSpriteBatchNodeを使用して描画処理を早くする</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>31</integer>
		<key>name</key>
		<string>GUIパーツを表示する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>32</integer>
		<key>name</key>
		<string>テキストを入力可能にする</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>33</integer>
		<key>name</key>
		<string>ひとつの画像で色々な大きさのボタンを作る</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>34</integer>
		<key>name</key>
		<string>スクロールビューを使用する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>37</integer>
		<key>name</key>
		<string>CCSpriteをタップ可能にする</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>38</integer>
		<key>name</key>
		<string>モーダルレイヤを作成する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>39</integer>
		<key>name</key>
		<string>指でなぞったラインを表示する</string>
		<key>step</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>39</integer>
		<key>name</key>
		<string>指でなそったラインを表示する</string>
		<key>step</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>40</integer>
		<key>name</key>
		<string>近景と遠景で奥行きを出す</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>42</integer>
		<key>name</key>
		<string>プログレスバーを表示する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>43</integer>
		<key>name</key>
		<string>フォントを指定して文字列を表示する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>44</integer>
		<key>name</key>
		<string>画像を切り取って表示する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>45</integer>
		<key>name</key>
		<string>テーブルビューを使用する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>46</integer>
		<key>name</key>
		<string>CCDrawNodeを使用して図形、線を描画する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>52</integer>
		<key>name</key>
		<string>SQLiteを使用する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>54</integer>
		<key>name</key>
		<string>サーバと通信する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>55</integer>
		<key>name</key>
		<string>ダウンロードの進捗を表示する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>56</integer>
		<key>name</key>
		<string>jsonを解析する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>57</integer>
		<key>name</key>
		<string>plistを使用する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>58</integer>
		<key>name</key>
		<string>XMLを使用する(CCSAXParser)</string>
		<key>step</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>58</integer>
		<key>name</key>
		<string>XMLを使用する(TinyXML-2)</string>
		<key>step</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>60</integer>
		<key>name</key>
		<string>OSに依存する部分の処理を分ける</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>64</integer>
		<key>name</key>
		<string>カメラを使用する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>67</integer>
		<key>name</key>
		<string>Androidのハードウェアキーを処理する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>70</integer>
		<key>name</key>
		<string>物理エンジンを使用する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>72</integer>
		<key>name</key>
		<string>簡易3D表示をする</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>74</integer>
		<key>name</key>
		<string>タイルマップを使用する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>75</integer>
		<key>name</key>
		<string>デリゲートメソッドを実装する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>76</integer>
		<key>name</key>
		<string>zipファイルを展開する(1 file)</string>
		<key>step</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>76</integer>
		<key>name</key>
		<string>zipファイルを展開する(full)</string>
		<key>step</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>76</integer>
		<key>name</key>
		<string>zipファイルを展開する(from apk)</string>
		<key>step</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>77</integer>
		<key>name</key>
		<string>ローカライズ（多言語対応）する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>78</integer>
		<key>name</key>
		<string>加速度センサを使用する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>80</integer>
		<key>name</key>
		<string>テクスチャアトラスを使用してメモリを節約する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>81</integer>
		<key>name</key>
		<string>テクスチャアトラスの読み込みを非同期処理する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>82</integer>
		<key>name</key>
		<string>テクスチャアトラスにPVRを使用してメモリを節約する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>83</integer>
		<key>name</key>
		<string>パーティクルを使用して見栄えのよい効果を出す</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>84</integer>
		<key>name</key>
		<string>Physics Editor を使用する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>85</integer>
		<key>name</key>
		<string>LevelHelperを使用する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>86</integer>
		<key>name</key>
		<string>CocosBuilderを使用して簡単に画面をデザインする</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>87</integer>
		<key>name</key>
		<string>SpriteStudioで複雑なアニメーションを簡単に作る</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>88</integer>
		<key>name</key>
		<string>GlyphDesignerでビットマップフォントを作成して表示する</string>
	</dict>
</array>
</plist>
