<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>recipe</key>
		<integer>1</integer>
		<key>name</key>
		<string>開発環境を構築する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>2</integer>
		<key>name</key>
		<string>iOSとAndroidに対応したプロジェクトを作成する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>3</integer>
		<key>name</key>
		<string>画像を表示する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>4</integer>
		<key>name</key>
		<string>画像を動かす</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>5</integer>
		<key>name</key>
		<string>画像を消す</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>6</integer>
		<key>name</key>
		<string>背景色を変更する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>7</integer>
		<key>name</key>
		<string>タップに反応させる</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>8</integer>
		<key>name</key>
		<string>衝突を判定する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>9</integer>
		<key>name</key>
		<string>処理をスケジュールして実行する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>10</integer>
		<key>name</key>
		<string>ボタンを作成する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>11</integer>
		<key>name</key>
		<string>トグルボタンを作成する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>12</integer>
		<key>name</key>
		<string>文字を表示する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>13</integer>
		<key>name</key>
		<string>色々なアニメーションをさせる</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>14</integer>
		<key>name</key>
		<string>アニメーションに変化をつけて見栄えをよくする</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>15</integer>
		<key>name</key>
		<string>アニメーションのタイミングで処理を実行する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>16</integer>
		<key>name</key>
		<string>パラパラ漫画のようなアニメーションを作成する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>17</integer>
		<key>name</key>
		<string>シーンの切換に変化をつける</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>18</integer>
		<key>name</key>
		<string>Cocos2d-iPhoneから移植する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>19</integer>
		<key>name</key>
		<string>デバッグ情報に残りメモリ量を表示する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>21</integer>
		<key>name</key>
		<string>配列を使用する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>22</integer>
		<key>name</key>
		<string>辞書を使用する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>23</integer>
		<key>name</key>
		<string>便利なマクロを使用する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>24</integer>
		<key>name</key>
		<string>デバッグ用にログを表示する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>25</integer>
		<key>name</key>
		<string>大きな画像を表示する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>26</integer>
		<key>name</key>
		<string>画像にマスク処理をする</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>27</integer>
		<key>name</key>
		<string>swfを読み込んでアニメーションを表示する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>28</integer>
		<key>name</key>
		<string>カードめくるアクションを実装する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>30</integer>
		<key>name</key>
		<string>CCSpriteBatchNodeを使用して描画処理を早くする</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>31</integer>
		<key>name</key>
		<string>GUIパーツを表示する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>32</integer>
		<key>name</key>
		<string>テキストを入力可能にする</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>33</integer>
		<key>name</key>
		<string>ひとつの画像で色々な大きさのボタンを作る</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>34</integer>
		<key>name</key>
		<string>スクロールビューを使用する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>35</integer>
		<key>name</key>
		<string>マルチ解像度に対応する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>36</integer>
		<key>name</key>
		<string>ラベルをマルチ解像度に対応する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>37</integer>
		<key>name</key>
		<string>CCSpriteをタップ可能にする</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>38</integer>
		<key>name</key>
		<string>モーダルレイヤを作成する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>39</integer>
		<key>name</key>
		<string>指でなぞったラインを表示する</string>
		<key>step</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>39</integer>
		<key>name</key>
		<string>指でなそったラインを表示する</string>
		<key>step</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>40</integer>
		<key>name</key>
		<string>近景と遠景で奥行きを出す</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>42</integer>
		<key>name</key>
		<string>プログレスバーを表示する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>43</integer>
		<key>name</key>
		<string>フォントを指定して文字列を表示する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>44</integer>
		<key>name</key>
		<string>画像を切り取って表示する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>45</integer>
		<key>name</key>
		<string>テーブルビューを使用する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>46</integer>
		<key>name</key>
		<string>CCDrawNodeを使用して図形、線を描画する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>47</integer>
		<key>name</key>
		<string>再生可能な効果音、BGMの種類</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>48</integer>
		<key>name</key>
		<string>効果音を再生する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>49</integer>
		<key>name</key>
		<string>BGMを再生する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>50</integer>
		<key>name</key>
		<string>効果音の同時再生数を増やす</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>51</integer>
		<key>name</key>
		<string>プリファレンスデータとしてデータを保持する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>52</integer>
		<key>name</key>
		<string>SQLiteを使用する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>53</integer>
		<key>name</key>
		<string>データファイルを保存する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>54</integer>
		<key>name</key>
		<string>サーバと通信する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>55</integer>
		<key>name</key>
		<string>ダウンロードの進捗を表示する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>56</integer>
		<key>name</key>
		<string>JSONを使用する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>57</integer>
		<key>name</key>
		<string>plistを使用する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>58</integer>
		<key>name</key>
		<string>XMLを使用する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>59</integer>
		<key>name</key>
		<string>マクロを使用してOS毎に処理を分ける</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>60</integer>
		<key>name</key>
		<string>OSに依存する部分の処理を分ける</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>61</integer>
		<key>name</key>
		<string>課金処理を実装する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>63</integer>
		<key>name</key>
		<string>GoogleAnalyticsを使用する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>64</integer>
		<key>name</key>
		<string>カメラを使用する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>65</integer>
		<key>name</key>
		<string>Android 4.2のマルチユーザに対応する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>66</integer>
		<key>name</key>
		<string>XcodeでAndroid用のビルドを行う</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>67</integer>
		<key>name</key>
		<string>Androidのハードウェアキーを処理する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>68</integer>
		<key>name</key>
		<string>EclipseでC++のデバッグを行う</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>69</integer>
		<key>name</key>
		<string>マルチスレッド処理をする</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>70</integer>
		<key>name</key>
		<string>物理エンジンを使用する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>71</integer>
		<key>name</key>
		<string>ゲームの一時停止処理を入れる</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>72</integer>
		<key>name</key>
		<string>簡易3D表示をする</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>74</integer>
		<key>name</key>
		<string>タイルマップを使用する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>75</integer>
		<key>name</key>
		<string>デリゲートメソッドを実装する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>76</integer>
		<key>name</key>
		<string>zipファイルを展開する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>77</integer>
		<key>name</key>
		<string>ローカライズ（多言語対応）する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>78</integer>
		<key>name</key>
		<string>加速度センサを使用する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>79</integer>
		<key>name</key>
		<string>プロファイラで処理のボトルネックを見つける</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>80</integer>
		<key>name</key>
		<string>テクスチャアトラスを使用してメモリを節約する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>81</integer>
		<key>name</key>
		<string>テクスチャアトラスの読み込みを非同期処理する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>82</integer>
		<key>name</key>
		<string>テクスチャアトラスにPVRを使用してメモリを節約する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>83</integer>
		<key>name</key>
		<string>パーティクルを使用して見栄えのよい効果を出す</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>84</integer>
		<key>name</key>
		<string>Physics Editor を使用する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>85</integer>
		<key>name</key>
		<string>LevelHelperを使用する</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>86</integer>
		<key>name</key>
		<string>CocosBuilderを使用して簡単に画面をデザインする</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>87</integer>
		<key>name</key>
		<string>SpriteStudioで複雑なアニメーションを簡単に作る</string>
	</dict>
	<dict>
		<key>recipe</key>
		<integer>88</integer>
		<key>name</key>
		<string>GlyphDesignerでビットマップフォントを作成して表示する</string>
	</dict>
</array>
</plist>
