<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>uhhoi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,61},{37,57}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{37,57}}</string>
                <key>sourceSize</key>
                <string>{55,65}</string>
            </dict>
            <key>uhhoi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{39,57}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{39,57}}</string>
                <key>sourceSize</key>
                <string>{55,65}</string>
            </dict>
            <key>uhhoi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{45,57}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{45,57}}</string>
                <key>sourceSize</key>
                <string>{55,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uhhoi.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6cd4611abfcb93eb25cb4f3688cec87$</string>
            <key>textureFileName</key>
            <string>uhhoi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
