<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>uhhoi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{43,57}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{43,57}}</string>
                <key>sourceSize</key>
                <string>{55,65}</string>
            </dict>
            <key>uhhoi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,2},{43,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{43,55}}</string>
                <key>sourceSize</key>
                <string>{55,65}</string>
            </dict>
            <key>uhhoi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{47,55}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{47,55}}</string>
                <key>sourceSize</key>
                <string>{55,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uhhoi.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f53d2bb20a47c3b371e8328798a5f76d$</string>
            <key>textureFileName</key>
            <string>uhhoi.png</string>
        </dict>
    </dict>
</plist>
